html,body{
	margin: 0;
	height: 100%;
	width : 100%;
	overflow: hidden;
}

*{
	box-sizing: border-box;
}

#splash-img{
	position: absolute;
	height: 150px;
	width: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

.play-controls,.song-opts{
	display: flex;
	justify-content: space-between;
}

.play-controls button{
	width: 65px;
	height: 20px;
}

.content{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title{
	display: flex;
}

.title-img{
	height: 26px;
	width: 26px;
	padding: 4px;
	margin: 4px 3px 0 4px;
	box-sizing: border-box;
}

#title-text{
	font-family: "Lato", sans-serif;
	color: #CCCCCC;
	font-size: 14px;
	margin: 8px 0 0 0;
}

.title-bar{
	height: 30px;
	flex: 0 1 auto;
	display: flex;
	justify-content: space-between;
	-webkit-app-region : drag;
	-webkit-user-select: none;
	background-color: #333333;
}

.title-bar .nav-btns button{
	-webkit-app-region : no-drag;
	height: 100%;
}

.title-bar .win-btns button{
	-webkit-app-region : no-drag;
	height: 100%;
}

#min-player{
	margin-right: 20px;
}

#wview{
	flex: 1 1 auto;
}

.win-btns button,.nav-btns button{
	background: none;
	border: none;
	outline: none;
	width: 30px;
	position: relative;
	float: left;
	padding: 0;
}

.win-btns button{
	color: #CCCCCC;
}

.win-btns button:hover{
	color: #333333;
	background-color: #CCCCCC
}

#win-close:hover{
	background-color: #E04343;
	color: white;
}


.nav-btns button{
	color: #CCCCCC;
}

.nav-btns button:hover{
	color: #333333;
	background-color: #CCCCCC
}